<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo"><a href=""><span>[</span>MEDICORP<span>]</span></a></div>
<div class="br-sideleft overflow-y-auto">
    <label class="sidebar-label pd-x-15 mg-t-20">Menu</label>
    <div class="br-sideleft-menu">


        <a routerLink="/inicio" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-home fa-fw"></i>
                <span class="menu-item-label">Inicio</span>
            </div>
        </a>


        <a [routerLink]="['/medicos']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-user-md"></i>
                <span class="menu-item-label">Medicos</span>
            </div>
        </a>

        <a [routerLink]="['/pacientes']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-user-injured"></i>
                <span class="menu-item-label">Pacientes</span>
            </div>
        </a>

        <a [routerLink]="['/medicamentos']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-pills"></i>
                <span class="menu-item-label">Medicamientos</span>
            </div>
        </a>

        <a [routerLink]="['/pedidos']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-clipboard-list"></i>
                <span class="menu-item-label">Pedidos</span>
            </div>
        </a>

        <a [routerLink]="['/repartidores']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-truck-loading"></i>
                <span class="menu-item-label">Repartidores</span>
            </div>
        </a>

        <a [routerLink]="['/obras']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-id-card"></i>
                <span class="menu-item-label">Obra Social</span>
            </div>
        </a>


        <a [routerLink]="['/clinicas']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-hospital-alt"></i>
                <span class="menu-item-label">Clinicas</span>
            </div>
        </a>


        <a [routerLink]="['/farmacias']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-store"></i>
                <span class="menu-item-label">Farmacia</span>
            </div>
        </a>

        <a [routerLink]="['/usuarios']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-users"></i>
                <span class="menu-item-label">Usuarios</span>
            </div>
        </a>
    </div><!-- br-sideleft-menu -->
    <br>
</div><!-- br-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->