<div [@routerTransition]>
    <div class="br-mainpanel">
        <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
            <h4 class="tx-gray-800 mg-b-5">Medicos</h4>
        </div>

        <div class="br-pagebody pd-x-20 pd-sm-x-30">
            <div class="row row-sm">
                <div class="col-lg-12">
                    <div class="card card-default mb-3">
                        <div class="card-header">
                            <h6 style="text-decoration: none;color: #333;">
                                <strong style="text-decoration: none;color: #333;">Administración de Medicos
                                    <button pButton class="ui-button-rounded float-right" label="Nuevo Medico"
                                        icon="fas fa-plus" data-toggle="modal" data-target="#modalAgregarMedico">
                                    </button>
                                </strong>
                            </h6>
                        </div>
                        <div class="card-body">
                            <p-table [responsive]="true" #dt [columns]="cols" [value]="medicos" selectionMode="single" [paginator]="true"
                                [rows]="12" [(selection)]="selectedMedico">
                                <ng-template pTemplate="caption">
                                    <div style="text-align: right">
                                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                        <input type="text" pInputText size="50" placeholder="Filtro"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            style="width:auto">
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            {{col.header}}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                            <input *ngSwitchCase="'dni'" pInputText type="text"
                                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                style="width:100%">
                                            <input *ngSwitchCase="'nombre'" pInputText type="text"
                                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                style="width:100%">
                                            <input *ngSwitchCase="'apellido'" pInputText type="text"
                                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                style="width:100%">
                                            <input *ngSwitchCase="'telefono'" pInputText type="text"
                                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                style="width:100%">
                                            <input *ngSwitchCase="'matricula'" pInputText type="text"
                                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                style="width:100%">
                                            <input *ngSwitchCase="'especialidad'" pInputText type="text"
                                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                style="width:100%">

                                        </th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-medico let-columns="columns">
                                    <tr [pSelectableRow]="medico">
                                        <td *ngFor="let col of columns">
                                            {{medico[col.field]}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <div class="card-footer">
                            <div class="pull-right">
                                <!-- (deshabilitado) -->
                                <button *ngIf="!selectedMedico" disabled pButton label="Detalle" icon="fas fa-search"
                                    class="ui-button-success ui-button-raised ui-button-rounded">
                                </button>
                                <!-- (habilitado) -->
                                <button *ngIf="selectedMedico" pButton label="Detalle" icon="fas fa-search"
                                    class="ui-button-success ui-button-raised ui-button-rounded"
                                    [routerLink]="['/medico', selectedMedico._id]">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ============================================================== -->
<!-- MODAL AGREGAR -->
<!-- ============================================================== -->
<div class="modal fade" id="modalAgregarMedico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Medico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #cerrarAgregar>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="f.form.valid 
                && model.dniMedico && model.nombreMedico
                && model.apellidoMedico && model.telefonoMedico
                && model.matriculaMedico && model.especialidadMedico
                
                && cargarMedico(f);" #f="ngForm" novalidate>
                <div class="modal-body">

                    <div class="form-group required">
                        <label class="control-label" for="dniMedico">DNI:</label>
                        <input type="text" class="form-control" name="dniMedico" [(ngModel)]="model.dniMedico"
                            #dniMedico="ngModel" autocomplete="off" required />
                        <p-message *ngIf="f.submitted && !model.dniMedico" severity="error" text="Campo Obligatorio.">
                        </p-message>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="nombreMedico">Nombre:</label>
                        <input type="text" class="form-control" name="nombreMedico" [(ngModel)]="model.nombreMedico"
                            #nombreMedico="ngModel" autocomplete="off" required />
                        <p-message *ngIf="f.submitted && !model.nombreMedico" severity="error"
                            text="Campo Obligatorio."></p-message>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="apellidoMedico">Apellido:</label>
                        <input type="text" class="form-control" name="apellidoMedico" [(ngModel)]="model.apellidoMedico"
                            #apellidoMedico="ngModel" autocomplete="off" required />
                        <p-message *ngIf="f.submitted && !model.apellidoMedico" severity="error"
                            text="Campo Obligatorio."></p-message>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="telefonoMedico">Telefono:</label>
                        <input type="text" class="form-control" name="telefonoMedico" [(ngModel)]="model.telefonoMedico"
                            #telefonoMedico="ngModel" autocomplete="off" required />
                        <p-message *ngIf="f.submitted && !model.telefonoMedico" severity="error"
                            text="Campo Obligatorio."></p-message>

                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="matriculaMedico">Matricula:</label>
                        <input type="text" class="form-control" name="matriculaMedico"
                            [(ngModel)]="model.matriculaMedico" #matriculaMedico="ngModel" autocomplete="off"
                            required />
                        <p-message *ngIf="f.submitted && !model.matriculaMedico" severity="error"
                            text="Campo Obligatorio."></p-message>

                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="especialidadMedico">Especialidad:</label>
                        <input type="text" class="form-control" name="especialidadMedico"
                            [(ngModel)]="model.especialidadMedico" #especialidadMedico="ngModel" autocomplete="off"
                            required />
                        <p-message *ngIf="f.submitted && !model.especialidadMedico" severity="error"
                            text="Campo Obligatorio."></p-message>

                    </div>
                </div>
                <div class="modal-footer">
                    <button pButton class="ui-button-rounded ui-button-success" label="Aceptar" icon="fas fa-check"
                        type="submit">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>